doctype html
head
  meta(charset='UTF-8')
  title Document
  style.
    body {
    margin: 0;
    }
    canvas {
    background-color: #000;
    display: block;
    }
canvas#game
  img#fond(src='img/fond_4096.png')
script(src='js/control.js')
script(src='js/camera.js')
script(src='js/particules.js')
script(src='js/joueur.js')
script(src='js/gamelauncher.js')